# 1. IMPORTS

## 1.1 Libraries

In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup 
from datetime import datetime
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

## 1.2 Raw data

In [ ]:
DATA_FOLDER = 'data/'
CHARACTER_METADATA_DATASET = DATA_FOLDER+"character.metadata.tsv"
MOVIE_METADATA_DATASET = DATA_FOLDER+"movie.metadata.tsv"
EVENT_CODE = DATA_FOLDER+"data_events.txt"
PLOT_SUMMARIES = DATA_FOLDER+"plot_summaries.txt"

column_names_character = [
    'Wikipedia movie ID',
    'Freebase movie ID',
    'Movie release date',
    'Character name',
    'Actor date of birth',
    'Actor gender',
    'Actor height (in meters)',
    'Actor ethnicity (Freebase ID)',
    'Actor name',
    'Actor age at movie release',
    'Freebase character/actor map ID',
    'Freebase character ID',
    'Freebase actor ID'
]

column_names_movie = [
    'Wikipedia movie ID',
    'Freebase movie ID',
    'Movie name',
    'Movie release date',
    'Movie box office revenue',
    'Movie runtime',
    'Movie languages',
    'Movie countries',
    'Movie genres'
]
df_character=pd.read_csv(CHARACTER_METADATA_DATASET, sep='\t', names = column_names_character)
df_movie=pd.read_csv(MOVIE_METADATA_DATASET, sep='\t', names = column_names_movie)
with open(EVENT_CODE, encoding='utf-8') as file:
    html_code = file.read()

with open(PLOT_SUMMARIES, 'r', encoding='utf-8') as file:
    plot_summaries = file.readlines()

# 2. Data Selection

In [ ]:
# Columns we will use for our project
df = df_movie[['Wikipedia movie ID', 'Movie name', 'Movie release date','Movie box office revenue','Movie runtime','Movie languages','Movie countries','Movie genres']] # and themes to add
df.set_index('Wikipedia movie ID', inplace=True)

df.head(5)

In [ ]:
is_unique = df.index.is_unique
print("Is the index unique?", is_unique)

In [ ]:
df.dtypes
df.info()

# 3. Data handling

## 3.1 Prepare dates

In [ ]:
#Problem : We don't have the day and month for many movies (+- half) and some don't have a date at all.
#Solution : Create a "year" column and "month" which will be useful for further analysis and column with nan values when it's missing. 
# Extract the first 4 characters, handling NaNs
df_treated = df.copy()
df_treated['Movie release year'] = df_treated['Movie release date'].str[:4].astype('Int32') #7k nans


cols = list(df_treated.columns)
cols.insert(1, cols.pop(cols.index('Movie release year')))
df_treated = df_treated[cols]

df_treated['Movie release date'] = pd.to_datetime(df_treated['Movie release date'], errors='coerce') #42k nans
df_treated['Movie release month'] = df_treated['Movie release date'].dt.strftime('%m').astype('Int32')

print(df_treated['Movie release date'].isna().sum())
print(df_treated['Movie release year'].isna().sum())
print(df_treated['Movie release month'].isna().sum())

cols = list(df_treated.columns)
cols.insert(1, cols.pop(cols.index('Movie release month')))
df_treated = df_treated[cols]
df_treated.head(5)

In [ ]:
df_treated.shape

In [ ]:
df_treated.dtypes

## 3.2 Preprare box office

In [ ]:
df_plot = df_treated.dropna(subset=['Movie release year', 'Movie box office revenue'])
average_revenue_per_year = df_plot.groupby('Movie release year')['Movie box office revenue'].mean()
plt.figure(figsize=(10, 6))
plt.plot(average_revenue_per_year[1:].index, average_revenue_per_year[1:].values)
plt.xlabel("Movie Release Year")
plt.ylabel("Average Box Office Revenue")
plt.title("Average Box Office Revenue by Movie Release Year")
plt.show()

In [ ]:
#Problem : one cannot compare two box office values between each other as there is inflation over time and the box office revenues were measured in different years.
#Solution : adjust the (USD) box office revenue by converting the box office revenue to 2024 with the inflation rates. 
inflation_data = {
    1914: 1.3, 1915: 0.9, 1916: 7.7, 1917: 17.8, 1918: 17.3, 
    1919: 15.2, 1920: 15.6, 1921: -10.9, 1922: -6.2, 1923: 1.8, 
    1924: 0.4, 1925: 2.4, 1926: 0.9, 1927: -1.9, 1928: -1.2, 
    1929: 0.0, 1930: -2.7, 1931: -8.9, 1932: -10.3, 1933: -5.2, 
    1934: 3.5, 1935: 2.6, 1936: 1.0, 1937: 3.7, 1938: -2.0, 
    1939: -1.3, 1940: 0.7, 1941: 5.1, 1942: 10.9, 1943: 6.0, 
    1944: 1.6, 1945: 2.3, 1946: 8.5, 1947: 14.4, 1948: 7.7, 
    1949: -1.0, 1950: 1.1, 1951: 7.9, 1952: 2.3, 1953: 0.8, 
    1954: 0.3, 1955: -0.3, 1956: 1.5, 1957: 3.3, 1958: 2.7, 
    1959: 1.08, 1960: 1.5, 1961: 1.1, 1962: 1.2, 1963: 1.2, 
    1964: 1.3, 1965: 1.6, 1966: 3.0, 1967: 2.8, 1968: 4.3, 
    1969: 5.5, 1970: 5.8, 1971: 4.3, 1972: 3.3, 1973: 6.2, 
    1974: 11.1, 1975: 9.1, 1976: 5.7, 1977: 6.5, 1978: 7.6, 
    1979: 11.3, 1980: 13.5, 1981: 10.3, 1982: 6.1, 1983: 3.2, 
    1984: 4.3, 1985: 3.5, 1986: 1.9, 1987: 3.7, 1988: 4.1, 
    1989: 4.8, 1990: 5.4, 1991: 4.2, 1992: 3.0, 1993: 3.0, 
    1994: 2.6, 1995: 2.8, 1996: 2.9, 1997: 2.3, 1998: 1.6, 
    1999: 2.2, 2000: 3.4, 2001: 2.8, 2002: 1.6, 2003: 2.3, 
    2004: 2.7, 2005: 3.4, 2006: 3.2, 2007: 2.9, 2008: 3.8, 
    2009: -0.4, 2010: 1.6, 2011: 3.2, 2012: 2.1, 2013: 1.5, 
    2014: 1.6, 2015: 0.1, 2016: 1.3, 2017: 2.1, 2018: 2.4, 
    2019: 1.8, 2020: 1.2, 2021: 4.7, 2022: 8.0, 2023: 4.1, 2024: 3.2
}

#source : minesota website

def adjust_for_inflation(year, amount, inflation_data):
    """
    Adjusts the given amount from the provided year to 2024 based on annual inflation rates.

    Parameters:
    year (int): The starting year.
    amount (float): The amount to be adjusted.
    inflation_data (dict): A dictionary with years as keys and inflation rates as values.

    Returns:
    float: The inflation-adjusted amount for 2024.
    """
    adjusted_value = amount
    
    for y in range(year, 2024):
        if y in inflation_data:
            inflation_rate = inflation_data[y]
            # Adjust for inflation for each year
            adjusted_value *= (1 + inflation_rate / 100)
    return adjusted_value


for i in range(len(df_treated)):
    if pd.notna(df_treated.iloc[i]['Movie release year']) and pd.notna(df_treated.iloc[i]['Movie box office revenue']):
        release_year = df_treated['Movie release year'].iloc[i]
        
        adjusted_revenue = adjust_for_inflation(release_year, df_treated.iloc[i]['Movie box office revenue'], inflation_data)
        
        df_treated.iloc[i, df_treated.columns.get_loc('Movie box office revenue')] = adjusted_revenue
 
df_treated.head(5)

In [ ]:
df_treated.shape

## 3.3 Prepare languages

In [ ]:

def cleaner(value):
    # Remove `{` and `}`
    value = re.sub(r'[{}]', '', value)
    
    # Extract values after ':' that are in between double quotes
    matches = re.findall(r'":\s*"([^"]+)"', value)
    
    # List of words to remove from each match
    words_to_remove = [" Language", " language", " languages", " Languages","\\u00e0 "]
    
    # Remove unwanted words from each match
    if matches:
        for word in words_to_remove:
            matches = [match.replace(word, "") for match in matches]
        return ', '.join(matches)
    
    return value

def remove_unicode_escapes(value):
    # Remove any Unicode escape sequences like \uXXXX
    return re.sub(r'\\u[0-9a-fA-F]{4}', '', value)

    
df_treated['Movie languages'] = df_treated['Movie languages'].apply(cleaner)
df_treated['Movie languages'] = df_treated['Movie languages'].apply(remove_unicode_escapes)

df_treated.head(5)

In [ ]:
df_treated['Movie languages'] = df_treated['Movie languages'].apply(lambda x: x.split(', '))
df_treated.head(5)

## 3.4 Prepare genres

In [ ]:
df_treated['Movie genres'] = df_treated['Movie genres'].apply(cleaner)

In [ ]:
df_treated['Movie genres'] = df_treated['Movie genres'].apply(lambda x: x.split(', '))
df_treated.head(5)

## 3.5 Prepare countries

In [ ]:
df_treated['Movie countries'] = df_treated['Movie countries'].apply(cleaner)

In [ ]:
df_treated['Movie countries'] = df_treated['Movie countries'].apply(lambda x: x.split(', '))
df_treated.head(5)

## 3.6 Remove unrealistic values

In [ ]:
df_treated.shape

In [ ]:
# Get the movie names of the long movies
is_long_movie = df_treated['Movie runtime'] > 10000
long_movies = df_treated.loc[df_treated[is_long_movie].index]
long_movies

In [ ]:
# Get the movie names of movies under a second
is_short_movie = df_treated['Movie runtime'] < 0.0166667

short_movies = df_treated.loc[df_treated[is_short_movie].index]
short_movies

In [ ]:
# One film of 18k hours and one of 0sec -> remove them because incorrect data
# Many films of under a minute because they're from 1890-1910

# Define minimum and maximum thresholds for reasonable movie runtimes
min_runtime = 0.01  
max_runtime = 10000 

test = df_treated[(df_treated['Movie runtime'].isna()) | ((df_treated['Movie runtime'] >= min_runtime) & (df_treated['Movie runtime'] <= max_runtime))]

#one movie during the Middle Ages
test = test[test['Movie release year'] != 1010]

In [ ]:
test.shape

## 3.7 USA events dataset

In [31]:
#https://www.timetoast.com/timelines/us-history-in-the-20th-century
soup = BeautifulSoup(html_code, 'html.parser')

In [32]:
dates = []
titles = []
descriptions = []

entries = soup.find_all('li', class_='list-timeline__item')

for entry in entries:
    date_div = entry.find('div', class_='timeline-item__date')
    date = date_div.time.get_text(strip=True) if date_div and date_div.time else np.nan
    dates.append(date)
    
    title_tag = entry.find('h1', class_='timeline-item__title')
    title = title_tag.get_text(strip=True) if title_tag else np.nan
    titles.append(title)
    
    body_div = entry.find('div', class_='timeline-item__body')
    body = body_div.get_text(strip=True) if body_div else np.nan
    descriptions.append(body)

In [33]:
df_event = pd.DataFrame({'Date': dates,'Title': titles,'Description': descriptions})
df_event['Date'] = pd.to_datetime(df_event['Date'], format="%b %d, %Y")

In [34]:
df_event.head(10)

,Date,Title,Description
0,1900-03-14,Gold Standard Act passed,Established gold as the only standard for rede...
1,1900-11-06,McKinley reelected president,NaN
2,1901-02-25,Congress passes Platt Amendment,"The Platt Amendment, an amendment to a U.S. ar..."
3,1901-02-25,J.P. Morgan creates United States Steel Corp,"1 of the most powerful bankers of his era, he ..."
4,1901-07-29,American Socialist Party formed,a multi-tendency democratic-socialist politica...
5,1901-09-06,McKinley assassinated; TR becomes president,Pres McKinley is shot at the Pan American Expo...
6,1902-10-03,TR intervenes in anthracite coal strike,The strike of 1900 was the prelude to a larger...
7,1903-01-01,Souls of Black Folk,"W. E. B. Du Bois’s landmark book of essays, So..."
8,1903-11-19,Women's Trade Union League Formed,a U.S. org of both working class & more well-o...
9,1903-12-17,Wright Bros. make 1st successful flight,Orville Wright piloted the first powered airpl...

## 3.8 Sentimental Analysis

In [37]:
analyzer = SentimentIntensityAnalyzer()

def get_sentiment(text):
    score = analyzer.polarity_scores(text)
    compound_score = score['compound']
    if compound_score >= 0.1:
        sentiment = 'positive'
    elif compound_score <= -0.1:
        sentiment = 'negative'
    else:
        sentiment = 'neutral'
    return sentiment, compound_score

In [38]:
data = []

for line in plot_summaries:
    parts = line.strip().split('\t', 1) # Split each line by the tab character
    if len(parts) == 2:
        movie_id, summary = parts
        sentiment, compound_score = get_sentiment(summary)
        data.append([movie_id, summary, sentiment, compound_score])

df = pd.DataFrame(data, columns=['ID', 'Summary', 'Sentiment', 'Compound Score'])
df.head(10)

,ID,Summary,Sentiment,Compound Score
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...",neutral,0.0083
1,31186339,The nation of Panem consists of a wealthy Capi...,negative,-0.9941
2,20663735,Poovalli Induchoodan is sentenced for six yea...,negative,-0.9867
3,2231378,"The Lemon Drop Kid , a New York City swindler,...",negative,-0.6127
4,595909,Seventh-day Adventist Church pastor Michael Ch...,negative,-0.9538
5,5272176,The president is on his way to give a speech. ...,negative,-0.9946
6,1952976,"{{plot}} The film opens in 1974, as a young gi...",negative,-0.7904
7,24225279,"The story begins with Hannah, a young Jewish t...",negative,-0.5064
8,2462689,Infuriated at being told to write one final co...,negative,-0.9898
9,20532852,A line of people drool at the window of the s...,negative,-0.8176

In [196]:
df = df.set_index('ID')
df.index = df.index.astype('int64')
df_merged = pd.merge(df_treated, df, left_index=True, right_index=True, how='outer')

In [40]:
df_event[['Sentiment', 'Compound Score']] = df_event.apply(
    lambda row: pd.Series(get_sentiment(row['Description'])) if pd.notna(row['Description']) else pd.Series(get_sentiment(row['Title'])),
    axis=1)

In [41]:
df_event.head(5)

,Date,Title,Description,Sentiment,Compound Score
0,1900-03-14,Gold Standard Act passed,Established gold as the only standard for rede...,positive,0.8934
1,1900-11-06,McKinley reelected president,NaN,neutral,0.0000
2,1901-02-25,Congress passes Platt Amendment,"The Platt Amendment, an amendment to a U.S. ar...",positive,0.3818
3,1901-02-25,J.P. Morgan creates United States Steel Corp,"1 of the most powerful bankers of his era, he ...",negative,-0.1796
4,1901-07-29,American Socialist Party formed,a multi-tendency democratic-socialist politica...,positive,0.9231

In [154]:
df_merged.sample(5)

,Movie name_x,Movie release month,Movie release year,Movie release date_x,Movie box office revenue_x,Movie runtime_x,Movie languages_x,Movie countries_x,Movie genres_x,Movie name_y,Movie release date_y,Movie box office revenue_y,Movie runtime_y,Movie languages_y,Movie countries_y,Movie genres_y
Wikipedia movie ID,,,,,,,,,,,,,,,,
23548452,Le Chant du monde,<NA>,1965,NaT,NaN,NaN,[Italian],[Italy],[Drama],Le Chant du monde,1965,NaN,NaN,"{""/m/02bjrlw"": ""Italian Language""}","{""/m/03rjj"": ""Italy""}","{""/m/07s9rl0"": ""Drama""}"
13086330,Getting It Right,<NA>,1989,NaT,NaN,102.0,[English],"[United States of America, United Kingdom]","[Romantic comedy, Sex comedy, Coming of age, C...",Getting It Right,1989,NaN,102.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/06cvj"": ""Romantic comedy"", ""/m/0gsy3b"": ""..."
16314480,NaN,<NA>,<NA>,NaT,NaN,NaN,NaN,NaN,NaN,Dead Roses,NaN,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0jb4p32"": ""Zombie Film"", ""/m/03npn"": ""Hor..."
20296858,The Restless Conscience: Resistance to Hitler ...,<NA>,1992,NaT,NaN,113.0,[English],[United States of America],"[History, Black-and-white, Documentary]",The Restless Conscience: Resistance to Hitler ...,1992,NaN,113.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/03g3w"": ""History"", ""/m/01g6gs"": ""Black-an..."
24086619,Everyday is a Holiday,<NA>,2009,NaT,NaN,90.0,"[French, Arabic]",[France],"[Road movie, Drama, Comedy, World cinema]",Everyday is a Holiday,2009,NaN,90.0,"{""/m/064_8sq"": ""French Language"", ""/m/0jzc"": ""...","{""/m/0f8l9c"": ""France""}","{""/m/04228s"": ""Road movie"", ""/m/07s9rl0"": ""Dra..."

In [199]:
df_merged.shape

(81741, 16)

# 4. Export clean datasets

In [200]:
df_merged.to_csv('generated/cleaned_data.csv', index=True, encoding='utf-8')

In [47]:
df_event.to_csv('generated/usa_historical_events.csv',index = False)